:root {
    --background-color: rgba(32, 33, 36, 1);
    --color-primary: rgb(236, 236, 236);
    --color-secondary: #acafb5;
    --color-secondary-50: #97999d;
    --color-secondary-100: #4d4d50;
    --color-secondary-200: #2c2c31;
    --color-secondary-300: #242427;
    --color-tertiary: #207aa4;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    color: var(--color-primary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 1rem;
    margin: 0;
}

*::selection {
    background: var(--color-tertiary);
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    margin-top: 0;
}
